body {font-family:"Raleway", sans-serif;}
ul {list-style-type: none;
display: flex;
flex-direction: row;
}
/*HEADER*/
.logo {
    flex-grow: 3;
    object-fit: contain;
}
header {
    font-weight: bold;
    display: flex;
justify-content: space-between;
justify-items: center;}

header a {
    transition-duration: 0.1s;
    padding: 22px
}


nav {
    display: flex;
}


.link {text-decoration: none;
    color:black;
    padding-left: 1rem;

}
.link2 {text-decoration: none;
color:#0065FC ;
font-weight: bold;
padding-left: 1rem;}

.link:hover {
color: #0065FC;
border-top:3px solid #0065FC;
}
/*FIN DU HEADER*/