body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 1rem;
}
h1 {
  width: auto;
  font-size: 24px;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 13px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
/*HEADER*/
.logo {
  flex-grow: 3;
  object-fit: contain;
}
header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

header a {
  transition-duration: 0.1s;
  padding: 1.0909rem;
}

nav {
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}
.link2 {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  padding-left: 1rem;
}

.link2:hover {
  color: white;
  background-color: #0065fc;
  border-radius: 0.96rem;
}

.link3:hover {
  background-color: #f2f2f2e3;
  border-radius: 0.96rem;
}

.link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 2.36rem;
}
/*FIN DU HEADER*/

/*PREMIERE SECTION*/

.titre {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.placeholder {
  font-weight: bold;
}

.recherche {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 1rem;
}

.icone1 {
  background-color: #f2f2f2e3;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 1rem;
}
.bouton1 {
  background-color: #0065fc;
  color: white;
  font-size: 1rem;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;
  border: none;
}

input {
  font-size: 1rem;
  padding: 0.96rem;
  border: solid #f2f2f2e3 1.1px;
}

/*filtres*/

.filtres {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.filtres ul a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.icones {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  height: 2.2rem;
  width: 2.2rem;
  /*min-height: 2.3rem;
  min-width: 2.3rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  margin-bottom: -0.5px;
}

.filtres li h3 {
  margin: 0.6rem;
  margin-right: 1rem;
}
.filtres li {
  border: solid #f2f2f2e3 2px;
  border-radius: 25px;
  display: flex;
  margin-right: 26px;
}
/*fin des filtres*/

.icone {
  border: solid #f2f2f2e3 2px;
  color: #0065fc;
  border-radius: 100%;
  margin-right: 5px;
  padding: 5px 11px;
}
.info {
  padding-top: 10px;
}
/*FIN DE PREMIERE SECTION*/

/*DEUXIEME SECTION*/

.section2 {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.afficher {
  font-size: 14px;
  font-weight: bolder;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
/*HEBERGEMENTS*/

.cards {
  display: grid;
  grid-template-columns: repeat(3, 14rem);
  column-gap: 1px;
  row-gap: 1.9rem;
  padding-top: 5rem;
  margin-left: -13.5rem;
}

.hebergements {
  background-color: #f2f2f2e3;
  border-radius: 1rem 1rem;
  /*width: 80%;*/
  width: 43.5rem;
  height: 34rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.carte {
  background-color: white;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  width: 12rem;
  height: 11rem;
  margin-left: 2rem;
  border-radius: 1rem 1rem;
  box-shadow: 0 0 16px #0000002e;
}
.carte:hover {
  background-color: #deebff;
}

.carte img {
  height: 6rem;
  width: 12rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  display: flex;
  align-content: center;
}
.hebergements a {
  text-decoration: none;
  color: black;
}
.etoilebleue {
  color: #0065fc;
}
.etoileblanche {
  color: #f2f2f2e3;
}
.note {
  font-size: 10px;
}
.infohbg {
  display: block;
  margin-left: 0.5rem;
  line-height: 1px;
}
.infohbg p {
  font-size: 11.5px;
}

/*LES PLUS POPULAIRES*/

.lpp {
  background-color: #f2f2f2e3;
  /* width: 30%;
  height: 40%;*/
  width: 22.5rem;
  height: 34rem;
  margin-left: 1.2rem;
  border-radius: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.lppcards {
  margin-top: -2rem;
}

.lpp a {
  text-decoration: none;
  color: black;
}
.lppicone {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}
.lppicone i {
  margin-top: 1.5rem;
}
.lppicone p {
  font-size: 24px;
}

.carte2 {
  background-color: white;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1.5rem;
  /*width: 85%;
  height: 70%;*/
  width: 17rem;
  height: 6.8rem;
  margin-left: 2rem;
  border-radius: 1rem 1rem;
  box-shadow: 0 0 16px #0000002e;
}

.carte2:hover {
  background-color:#deebff;
}
.lpp1 {
  display: flex;
}
.carte2 img {
  height: 6.6rem;
  margin-right: 1rem;
  margin-left: -0.2rem;
  margin-bottom: -4rem;
  width: 35%;
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
}

.infohbg2 p,
h3 {
  margin-right: 1rem;
  display: block;
  line-height: 16px;
}
.infohbg2 h3 {
  margin-bottom: -1.5rem;
}
.infohbg2 p {
  font-size: 11.5px;
  margin-top: 1.5rem;
}
.note2 {
  font-size: 10px;
  margin-top: 1.5rem;
}

/*SECTION ACTIVITÉS*/

.titreact {
  font-size: 24px;
  font-weight: bold;
  padding-top: 1rem;
}

.activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 6rem;
  padding-top: 0.2rem;
}
.carteact {
  border-radius: 1rem;
  border: 0px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 16px #d2d2d2;
}
.carteact a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.carteact:hover {
  background-color: #deebff ;
}
.carteact h3 {
  margin-left: 1rem;
}
.full img {
  height: 16rem;
  width: 14rem;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
}
.img1 {
  height: 7rem;
  width: 14rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.img2 {
  height: 4rem;
  width: 14rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.img3 {
  height: 6rem;
  width: 14rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}

.img4 {
  height: 5.5rem;
  width: 14rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*FOOTER*/

.footer ul {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}
.footer li {
  margin-top: 1rem;
}
.footer {
  background-color: #f2f2f2e3;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: -2rem;
}
